<!DOCTYPE html>
<html>
    <head>
        <title>mehrdad blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">mehrdad blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>in matn kosshery bish nist.</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>kir khar balaro nagah kon.</p>
        </article>
    </body>
</html>