<!DOCTYPE html>
<style>
th {
    font-size: 200%;
}
td {
    text-align: center;
    font-size: 150%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 30px;
}
</style>
<html>
    <head>
        <title> mehrdads blog </title>
    </head>
    <body style="background: rgb(0,150,155);">
        <h1 style="background: whitesmoke; font-size: 700%; border: 10px solid black;padding : 30px;font-family: serif;"> mehrdad blog </h1>
        <table style="width:100%;background: #f1f1c1;">
            <caption style="font-size: 200%;text-align: center;">samane anjam kar</caption>
          <tr>
            <th>onvan kar</th>
            <th>arzesh kar</th>
            <th>takhmin zamani</th>
            <th> sab kar </th>
            <th>  </th>
          </tr>
          <tr>
            <td>shokhm zadan</td>
            <td>500 hezar toman</td>
            <td>3 rooz</td>
            <td> asghar agha </td>
            <td> <a href="http://bayanbox.ir/info/6117907984543763344/shokhm-zadan" target="_blank"><button style="font-size: 200%;background: rgb(150,150,150);border: 5px black;">tozihat</button></a>
</td>
          </tr>
          <tr>
            <td>tadris</td>
            <td>50 hezar toman</td>
            <td>ye sal :(</td>
            <td> be shekl gham angizi <br> mohammad hasan mousavi</td>
            <td> <a href="http://bayanbox.ir/preview/876809462863592568/photo-2016-10-02-16-59-09.jpg" target="_blank"><button style="font-size: 200%;background: rgb(150,150,150);border: 5px black;">tozihat</button></a>
          </tr>
          <tr>
                <td>lolekesh zahmatkesh</td>
            <td>poolesh kame vali ajresh ziad</td>
            <td>ta vaghti betoon boland shi <br> (az khab)</td>
            <td>sherkat brothers</td>
            <td> <a href="https://media.discordapp.net/attachments/871852624146751570/872121259280965682/image0.jpg" target="_blank"><button style="font-size: 200%;background: rgb(150,150,150);border: 5px black;">tozihat</button></a>

          </tr>
        </table>
    </body>
</html>

